/* Austin Fletcher
   Basic portfolio
   style.css
*/
*, *::after, *::before {
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  background: rgb(230, 230, 230);
}
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

  body {
  float: left;
  width: 60em;
  }

  header{
    background-color: blue;
    width: 1000px;
    height: 5em;
    padding: 3em;
    margin: 0em 0em 1em;
  }

  .myName{
    float: left;
    text-align: center;
    font-size: 3em;
    height: auto;
    width: auto;
    padding: 0.25em;
    margin:0;
    background-color: red;


  }
 nav{
    float: right;
    text-align:center;
    height: 2.5em;
    padding: 1.25em;
    background-color: yellow;
  }

  img.myPhoto{
    /* transform: rotate(-90deg); */
    float: left;
    width: 25%;
    height: 25%;
    padding: 1em 1.5em;
  }
.myBio{
  text-align: center;
  float: left;
  width: 60em;
  padding: 1em 1em;
  margin: 0em;
  background: green;

}

footer{
float: left;
background-color: blueviolet;
height: 5em;
width: 1000px;
text-align: center;
}

